<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认使用PatternLayoutEncoder -->
        <encoder>
            <pattern>%d [%thread] %-5level %logger{36} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="myFrame" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/disk1/log/myFrame.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>

        <encoder>
            <pattern>%d [%thread] %-5level %logger{36} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="myFrame-error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/disk1/log/error.log</file>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>/disk1/log/error.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>%d [%thread] %-5level %logger{36} %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.web.servlet.DispatcherServlet" level="DEBUG" additivity="false">
        <appender-ref ref="stdout" />
        <appender-ref ref="myFrame" />
    </logger>

    <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestResponseBodyMethodProcessor" level="DEBUG" additivity="false">
        <appender-ref ref="stdout" />
        <appender-ref ref="myFrame" />
    </logger>

    <!-- mybatis日志打印的是mapper namespace -->
    <!--<logger name="com.yunrun.znbpt" level="DEBUG" additivity="false">-->
        <!--<appender-ref ref="stdout" />-->
        <!--<appender-ref ref="znbpt" />-->
    <!--</logger>-->

    <root level="INFO">
        <appender-ref ref="stdout" />
        <appender-ref ref="myFrame" />
        <appender-ref ref="myFrame-error" />
    </root>

</configuration>